{% extends 'MinsalsifdaBundle::layoutResponsable.html.twig' %}

{% block contenido_in %}
    <div class="page-header">
        <center><h3>Grado de avance de una solicitud de servicio</h3></center>
    </div>
    <table id="tabla" class="table table-bordered table-hover table-condensed">
        <tbody>
            <tr>
                <th>Descripci&oacute;n de solicitud de servicio</th>
                <td>{{ solicitud.descripcion }}</td>
            </tr>
            <tr>
                <th>Fecha de recepci&oacute;n</th>
                <td>{{ solicitud.fechaRecepcion is empty ? "No tiene fecha asignada." : solicitud.fechaRecepcion|date("d/m/Y H:i:s") }}</td>
            </tr>
            <tr>
                <th>Fecha que se requiere</th>
                <td>{{ solicitud.fechaRequiere is empty ? "No tiene fecha asignada." : solicitud.fechaRequiere|date("d/m/Y")}}</td>
            </tr>
            <tr>
                <th>Persona solicitante</th>
                <td>{{ solicitud.user.idEmpleado }}</td>
            </tr>
            {% set porcentaje = 0 %}
            {% for entity in entities %}
                {% if entity.dscestado == 'Finalizado' %}
                    {% set porcentaje = porcentaje + entity.etapaPeso %}
                {% endif %}
            {% endfor %}   
            <tr>
                <th>Grado de avance del servicio solicitado</th>
                <td>{{ porcentaje }}%</td>
            </tr>
        </tbody>
    </table>
    <br>
    <table id="tabla" class="table table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th><center>Etapa</center></th>
                <th><center>Subetapa</center></th>
                <th><center>Estado</center></th>
                
                <th><center>Empleado responsable</center></th>
                {#<th>Opciones</th>#}
            </tr>
        </thead>
        <tbody>
            {% set subetapa = 0%}
        {% for entity in entities %}
            <tr>
                
                <td>
                    {% if entity.jerarciclovida != subetapa %}
                        {{ entity.dscciclovida }}
                        {%set subetapa = subetapa + 1%}
                    {%endif%}
                </td>
                
                <td>{{ entity.dscsubetapa }}</td>
                <td><center>{{ entity.dscestado }}</center></td>
                <td>
                    {% if entity.dscestado != 'Sin Asignar' %}
                        {{ entity.nomempleado is empty ? "Empleado sin asignar." : entity.nomempleado}}
                    {% endif %}
                </td>
                {#<td>
                <ul>
                    <li>
                        <a href="{{ path('sifda_vwetapassolicitud_show', { 'id': entity.id }) }}">Mostrar</a>
                    </li>
                </ul>
                </td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
            <div class="row-fluid">    
                <div class="span12">
                <center>
                    <table id="botones">
                    <tr> 
                        <td>
                            <a href="{{ path('sifda_seguimiento')}}" class="btn">Regresar</a>
                        </td>
                    </tr>    
                    </table>
                </center>
                <br>
                </div>
    {% endblock %}
