{#{% extends '::base.html.twig' %}#}

{% extends 'MinsalsifdaBundle::layoutResponsable.html.twig' %}
{% block contenido_in -%}
    <h2><center>Informacion de la Dependencia a Editar</center></h2>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('sifda_ctldependencia') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
    
    <table id="botones" style="margin-left:38%">
                <tr>
                    <td><a href="{{ path('sifda_ctldependencia') }}" class="btn">Regresar</a></td>
                    <td>{{form_row(edit_form.submit,{'attr':{'class':'btn'}})}}</td> 
                    <td>{{form_row(delete_form.submit,{'attr':{'class':'btn'}})}}</td> 
                </tr>
            </table> 
{% endblock %}
