{#{% extends '::base.html.twig' %}#}

{% extends 'MinsalsifdaBundle::layoutResponsable.html.twig' %}
{% block contenido_in -%}
    {{form_start(edit_form)}}
    {{form_errors(edit_form)}} 
    <div class="page-header">
        <center><h3><center>Informaci&oacute;n de la dependencia a editar</center></h3></center>
    </div>
    

    {#{{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('sifda_ctldependencia') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
    
    <table id="botones" style="margin-left:38%">
                <tr>
                    <td><a href="{{ path('sifda_ctldependencia') }}" class="btn">Regresar</a></td>
                    <td>{{form_row(edit_form.submit,{'attr':{'class':'btn'}})}}</td> 
                    <td>{{form_row(delete_form.submit,{'attr':{'class':'btn'}})}}</td> 
                </tr>
            </table> #}
                    
    <div class="row-fluid">
                    <div class="span4 offset2">
                        {{form_row(edit_form.idTipoDependencia)}}
                    </div>
                    <div class="span5 offset1"> 
                        {{form_row(edit_form.nombre)}}
                    </div>
                </div>
                <br><br>
		<div class="row-fluid">    
                        <div class="span12">
                        <br>
                        <center>
                            <table id="botones">
                            <tr> 
                               <td>{{form_row(edit_form.submit,{'attr':{'class':'btn btn-primary'}})}}</td>
                               <td><a href="{{ path('sifda_ctldependencia') }}" class="btn">Regresar</a>
                                </td>
                            </tr>    
                            </table>
                        </center>
                        <br>
                        </div>
                    </div>
            </div>
        </div>

    {{form_end(edit_form)}}                      
{% endblock %}
