{#{% extends '::base.html.twig' %}#}

{% extends 'MinsalsifdaBundle::layoutResponsable.html.twig' %}


{% block contenido_in -%}
    <h2><center>Listado de Dependencias</center></h2>

    <table class="table table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th><center>Id</center></th>
                <th><center>Nombre</center></th>
                <th><center>Actions</center></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('sifda_ctldependencia_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('sifda_ctldependencia_show', { 'id': entity.id }) }}">mostrar</a>
                    </li>
                    <li>
                        <a href="{{ path('sifda_ctldependencia_edit', { 'id': entity.id }) }}">editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('sifda_ctldependencia_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
