{#{% extends '::base.html.twig' %}#}
{% extends 'MinsalsifdaBundle::layoutResponsable.html.twig' %}
{% block contenido_in -%}
    <h2><center>Informacion de la Dependencia</center></h2>

    <table class="table table-bordered table-hover table-condensed">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
        </tbody>
    </table>

    
    <table id="botones" style="margin-left:38%">
                <tr>
                    <td><a href="{{ path('sifda_ctldependencia') }}" class="btn">Regresar</a></td>
                    <td><a href="{{ path('sifda_ctldependencia_edit', { 'id': entity.id }) }}" class="btn">Editar</a></td>
                    <td>{{form_row(delete_form.submit,{'attr':{'class':'btn'}})}}</td> 
                </tr>
    </table>
    
{% endblock %}
