{% extends 'MinsalsifdaBundle::layoutResponsable.html.twig' %}

{% block javascripts_step %}
    {{parent()}}
        <script src="{{ asset('bundles/minsalsifda/js/scriptsSifda/equipoTrabajoNew.js')}}"></script>

    {% endblock %}   

{% block contenido_in -%}
    {{form_start(form)}}
    {{form_errors(form)}}     
        <div class="page-header">
            <center><h3>Asignacion de personal a la orden de trabajo</h3></center>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="row-fluid">
                <table id="tabla" class="table table-bordered table-hover table-condensed">
                    <tbody>
                        <tr>
                            <th>Establecimiento Solicitante</th>
                            <td>{{ orden.idSolicitudServicio.user?orden.idSolicitudServicio.user.idDependenciaEstablecimiento.idEstablecimiento.nombre:"Generado PAO" }}</td>
                        </tr>
                        <tr>
                            <th>Dependencia Solicitante</th>
                            <td>{{ orden.idSolicitudServicio.user?orden.idSolicitudServicio.user.idDependenciaEstablecimiento.idDependencia.nombre:"Generado PAO" }}</td>
                        </tr>
                        <tr>
                            <th>Tipo de servicio</th>
                            <td>{{ orden.idSolicitudServicio.idTipoServicio.nombre }}</td>
                        </tr>
                        <tr>
                            <th>Descripcion de Solicitud de Servicio</th>
                            <td>{{ orden.idSolicitudServicio }}</td>
                        </tr>
                        <tr>
                            <th>Fecha que se requiere el servicio</th>
                            <td>{% if orden.idSolicitudServicio.fechaRequiere %}{{ orden.idSolicitudServicio.fechaRequiere|date('d-m-Y') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Codigo de orden de trabajo</th>
                            <td>{{ orden.codigo }}</td>
                        </tr>
                        <tr>
                            <th>Descripcion de orden de trabajo</th>
                            <td>{{ orden.descripcion }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <div class="row-fluid">
                <div class="span12">
                    <center><h4>Carga laboral de empleados</h4></center>
                    
                    <table id="tabla" class="table table-bordered table-hover table-condensed" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Empleado</th>
                                <th>Asignadas</th>
                                <th>Pendientes</th>
                                <th>Atendidas</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entity in empleados %}
                                <tr>
                                    <td>{{ entity.nombre }}</td>
                                    <td>{{ entity.atendidas }}</td>
                                    <td>{{ entity.pendientes }}</td>
                                    <td>{{ entity.finalizadas }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>                        
            <br><br>
            <div class="row-fluid">
                <div class="span4 offset2" id="responsable">
                    {{form_row(form.idEmpleado, {'attr': {'onchange':'buscarEquipoTrabajo()'} })}}
                </div>
                <div class="span5 offset1" id="equipoTrabajo"> 
                    {{form_row(form.equipoTrabajo, {'attr': {'class':'checkbox'} })}}
                </div>
            </div> 
    
                    <br>
                    <div class="row-fluid">    
                        <div class="span12">
                        <br>
                        <center>
                            <table id="botones">
                                <tr> 
                                   <td>{{form_row(form.submit,{'attr':{'class':'btn btn-primary'}})}}</td>
                                   <td><a href="{{ path('sifda_ordentrabajo_gestion') }}" class="btn">Regresar</a>
                                    </td>
                                </tr>    
                            </table>
                        </center>
                        <br>
                        </div>
                    </div>
            </div>
        </div>
    {{form_end(form)}} 
{% endblock %}
