{#{% extends '::base.html.twig' %}#}
{% extends 'MinsalsifdaBundle::layoutResponsable.html.twig' %}
{% block contenido_in -%}
    <h2><center>Catalogo edit</center></h2>

    {#{{ form(edit_form) }}#}
    <div class="span12">
        
        <div class="row-fluid">
            <div class="span8 offset4">
                
                 {{form_row(edit_form.nombre)}}
                 {{form_row(edit_form.descripcion)}}
                 {{form_row(edit_form.sistema)}}
                 {{form_row(edit_form.ref1)}}
                <br>
            </div>       
        </div>
    </div>
   

    
    <br>
    
    
    <table id="botones" style="margin-left:34%">
                <tr>
                    <td><a href="{{ path('sifda_catalogo') }}" class="btn">Regresar</a></td>
                    <td>{{form_row(edit_form.submit,{'attr':{'class':'btn'}})}}</td> 
                    <td>{{form_row(delete_form.submit,{'attr':{'class':'btn'}})}}</td> 
                </tr>
    </table>    
    
{% endblock %}
