{#{% extends '::base.html.twig' %}#}
{% extends 'MinsalsifdaBundle::layoutResponsable.html.twig' %}
{% block contenido_in -%}
    <h2><center>Lista de Catalogos </center></h2>

    <table id="tabla" class="table table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th><center>Id</center></th>
                <th><center>Nombre</center></th>
                <th><center>Descripcion</center></th>
                <th><center>Sistema</center></th>
                <th><center>Ref1</center></th>
                <th><center>Actions</center></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('sifda_catalogo_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>{{ entity.sistema }}</td>
                <td>{{ entity.ref1 }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('sifda_catalogo_show', { 'id': entity.id }) }}">mostrar</a>
                    </li>
                    <li>
                        <a href="{{ path('sifda_catalogo_edit', { 'id': entity.id }) }}">editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('sifda_catalogo_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
