{% extends 'MinsalsifdaBundle::layoutResponsable.html.twig' %}

{% block contenido_in -%}
    {{form_start(edit_form)}}
    {{form_errors(edit_form)}}     
        <div class="page-header">
            <center><h3>Editar etapa del tipo de servicio</h3></center>
            <center><h4>{{tipo.nombre}}</h4></center>
        </div>
    
    {#{{ form(edit_form) }}#}
<div class="row-fluid">
            <div class="span12">
                {#{{ cantidad }}#}
              {#  {% if cantidad < 100 %}#}
            {{form_start(edit_form)}}
            {{form_errors(edit_form)}}
                <div class="row-fluid">
                    <div class="span4 offset2">
                        {{form_row(edit_form.descripcion, {'attr': {'class':'input-xlarge', 'placeholder': 'Descripcion de la etapa'} })}}
                        {#{{form_row(form.ignorarSig)}}#}
                        {{form_row(edit_form.jerarquia)}}

                    </div>
                    <div class="span5 offset1">
                        {{form_row(edit_form.referencia, {'attr': {'class':'input-xlarge', 'placeholder': 'Referencia de la etapa'} })}}
                        {{form_row(edit_form.peso)}}
                        {#{{form_row(form.idTipoServicio)}}
                        {{form_row(form.idEtapa)}}#}
                    </div>
                </div>
                <br><br>
                <center>
                    <table id="botones">
                    <tr> 

                       {# <td>{{form_row(form.submit_and_add,{'attr':{'class':'btn btn-primary'}})}}</td> #}
                        <td>{{form_row(edit_form.submit,{'attr':{'class':'btn btn-inverse'}})}}</td> 
                        <td><a href="{{ path('sifdatiposervicio_show', { 'id': tipo.id })}}" class="btn">Regresar</a></td>
                    </tr>    
                    </table>
                </center>  
                    {{form_end(edit_form)}}
                {#<ul class="record_actions">
    <li>
        <a href="{{ path('sifda_rutaciclovida') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>#}
{% endblock %}
