{% extends '::base.html.twig' %}

{% block body -%}
    <h1>SidplaLineaEstrategica list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>Codigo</th>
                <th>Activo</th>
                <th>Anio</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('sidplalineaestrategica_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.descripcion }}</td>
                <td>{{ entity.codigo }}</td>
                <td>{{ entity.activo }}</td>
                <td>{{ entity.anio }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('sidplalineaestrategica_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('sidplalineaestrategica_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('sidplalineaestrategica_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
