{#{% extends '::base.html.twig' %}#}
{% extends 'MinsalsifdaBundle::layoutResponsable.html.twig' %}
{% block contenido_in -%}
    {#{{form_start(edit_form)}}
    {{form_errors(edit_form)}} #}
    <div class="page-header">
        <center><h3><center>Informaci&oacute;n del tipo de dependencia a editar</center></h3></center>
    </div>
    <div class="row-fluid">
        <div class="span4 offset4">
            {{ form(edit_form.nombre, {'attr': {'class':'input-xlarge', 'placeholder': 'Nombre del tipo de dependencia'} }) }}
        </div>
    </div>
    <div class="row-fluid">    
                        <div class="span12">
                        <br>
                        <center>
                            <table id="botones">
                            <tr> 
                               {#<td><a href="{{ path('sifda_ctltipodependencia_edit', { 'id': entity.id }) }}" class="btn">Editar tipo de dependencia</a>#}
                               <td>{{form_row(edit_form.submit,{'attr':{'class':'btn'}})}}</td>
                               <td>{{form_row(delete_form.submit,{'attr':{'class':'btn'}})}}</td>
                               <td><a href="{{ path('sifda_ctltipodependencia') }}" class="btn">Regresar</a>
                                </td>
                            </tr>    
                            </table>
                        </center>
                        <br>
                        </div>
                    </div>
{#        <ul class="record_actions">
    <li>
        <a href="{{ path('sifda_ctltipodependencia') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>#}
{% endblock %}
