{% extends 'MinsalsifdaBundle::layoutResponsable.html.twig' %}

{% block contenido_in -%}
    <center><h3>Tipo de Recurso por Dependencia</h3></center>

    <table id="tabla" class="table table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Dependencia</th>
                <th>Tipo Servicio</th>
                <th>Costounitario</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('sifdatiporecursodependencia_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.idDependenciaEstablecimiento.idDependencia.nombre }}</td>
                <td>{{ entity.idTipoRecurso.nombre }}</td>
                <td>{{ entity.costoUnitario }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('sifdatiporecursodependencia_show', { 'id': entity.id }) }}">Mostrar</a>
                    </li>
                    <li>
                        <a href="{{ path('sifdatiporecursodependencia_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<center>
            <table id="botones">
            <tr>
                <td><a href="{{ path('sifdatiporecursodependencia_new') }}" class="btn">
                Agregar
            </a></td>
            </tr>    
            </table>
        </center>
    {% endblock %}
