{% extends 'MinsalsifdaBundle::layoutResponsable.html.twig' %}

{% block contenido_in -%}
    <h1>Mostrar Tipo de Servicio por Dependencia</h1>

    <table id="tabla" class="table table-bordered table-hover table-condensed">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Dependencia</th>
                <td>{{ entity.idDependenciaEstablecimiento.idDependencia.nombre }}</td>
            </tr>
            <tr>
                <th>Tipo Recurso</th>
                <td>{{ entity.idTipoRecurso.nombre }}</td>
            </tr>
            <tr>
                <th>Costounitario</th>
                <td>{{ entity.costoUnitario }}</td>
            </tr>
        </tbody>
    </table>
            
    <center>
            <table id="botones">
            <tr>
                <td><a href="{{ path('sifdatiporecursodependencia') }}" class="btn">
                Regresar
            </a></td>
                <td><a href="{{ path('sifdatiporecursodependencia_edit', { 'id': entity.id }) }}" class="btn">
                Edit
            </a></td>
            <td>
                    {{form_row(delete_form.submit,{'attr':{'class':'btn'}})}}
                   
                </td>
            </tr>    
            </table>
        </center>
{% endblock %}
