{% extends 'MinsalsifdaBundle::layoutResponsable.html.twig' %}

{% block contenido_in -%}
    <center><h3>Tipos de recurso</h3></center>

    <table id="tabla" class="table table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>Correlativo</th>
                <th>Nombre</th>
                <th>Descripci&oacute;n</th>
                {#<th>Recurso humano</th>#}
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.descripcion }}</td>
                {#<td>{{ entity.rrhh }}</td>#}
                <td>
                <ul>
                    <li>
                        <a href="{{ path('sifdatiporecurso_show', { 'id': entity.id }) }}">Mostrar</a>
                    </li>
                    <li>
                        <a href="{{ path('sifdatiporecurso_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<center>
            <table id="botones">
            <tr>
                <td><a href="{{ path('sifdatiporecurso_new') }}" class="btn">
                Registrar nuevo tipo de recurso
            </a></td>
            </tr>    
            </table>
        </center>
    {% endblock %}
