{% extends 'MinsalsifdaBundle::layoutResponsable.html.twig' %}

{% block contenido_in -%}
    <center><h3>Mostrar Tipo Recurso</h3></center>

    <table id="tabla" class="table table-bordered table-hover table-condensed">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Rrhh</th>
                <td>{{ entity.rrhh }}</td>
            </tr>
        </tbody>
    </table>
            <center>
            <table id="botones">
            <tr>
                <td>
                    <a href="{{ path('sifdatiporecurso_edit', { 'id': entity.id }) }}" class="btn">
            Editar
        </a>
                </td>
                <td>
                    <a href="{{ path('sifdatiporecurso') }}" class="btn">
                Regresar
                    </a>
                </td>
                <td>
                    {{form_row(delete_form.submit,{'attr':{'class':'btn'}})}}
                    </a>
                </td>
            </tr>    
            </table>
        </center>
{% endblock %}