{% extends '::base.html.twig' %}

{% block body -%}
    <h1>SifdaReprogramacionServicio</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Fechareprogramacion</th>
                <td>{{ entity.fechaReprogramacion|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Justificacion</th>
                <td>{{ entity.justificacion }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('sifda_reprogramacion_servicio') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('sifda_reprogramacion_servicio_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
