{% extends 'MinsalsifdaBundle::layoutResponsable.html.twig' %}

{% block javascripts_step %}
    {{parent()}}
        <script src="{{ asset('bundles/minsalsifda/js/scriptsSifda/solicitudesFinalNew.js')}}"></script>
{% endblock %}   

{% block contenido_in  %}
    
     <center><h4>Listado de solicitudes de servicio finalizadas </h4></center>
     
     <div id="seleccion">
         <div class="row-fluid">
             <div class="span11 offset1">
                 <div class="span2">
                     <table>
                         <tr><td><input type="radio" name="consulta" id="pdf" value="1">pdf</td></tr>
                         <tr><td><input type="radio" name="consulta" id="excel" value="2">excel</td></tr>
                         <tr><td><input type="radio" name="consulta" id="grafico" value="3">grafico</td></tr>                           
                     </table>
                 </div>
                 
                 <div class="span9">
                     
                     <table id="combos">
                         <tr>
                             <td><label>Establecimiento:</label></td>
                             <td>
                                 <div class="btn-group">
                                     <select id="cmb1" name="comboEstablecimiento"  class="selectpicker" style="width: 200px" onchange="buscarDependencia('{{path('sifda_solicitudservicio_find_dependencia')}}')">
                                       <option value="0">seleccione Establecimiento</option>
                                       
                                        {% for e in establecimiento%}
                                            <option value="{{e.id}}">{{e.nombre}}</option>
                                        {% endfor %}    
                                     </select>
                                 </div>
                             </td>
                             <td><label>FechaInicio:</label></td>                             
                             <td><input type="text" id="txt_fechaInicio" class="input-small" readonly="true"></td>  
                             <td><label>FechaFin:</label></td>
                             <td><input type="text" id="txt_fechaFin" class="input-small" readonly="true"></td>
                         </tr>
                         <tr>
                             <td><label>Dependencia:</label></td>
                             <td colspan="3">
                                 <div class="btn-group">
                                     <select id="cmb2" name="comboDependencia" class="selectpicker" style="width: 200px">
                                         <option value="0">seleccione Dependencia</option>
                                     </select>
                                 </div>
                             </td>
                             
                             <td><input type="submit" class="btn btn-primary" id="buscar" value="Buscar" name="Buscar"></td>
                             <td><input type="submit" class="btn btn-primary" id="buscar" value="Exportar" name="Exportar" onclick="exportfile()"></td>
                            
                         </tr>
                     </table>
                 </div>           
             </div>
         </div>
     </div>
 {% endblock%}       
