{% extends 'MinsalsifdaBundle::layoutResponsable.html.twig' %}

{% block javascripts_step %}
    {{parent()}}
        <script src="{{ asset('bundles/minsalsifda/js/scriptsSifda/solicitudesFinalNew.js')}}"></script>
{% endblock %}   

{% block contenido_in  %}
    
     <center><h4>Listado de solicitudes de servicio finalizadas </h4></center>
     
     <div id="seleccion">
         <div class="row-fluid">
             <div class="span11 offset1">
                 <div class="span2">
                     <table>
                         <tr><td><input type="radio" name="consulta" id="pdf" value="1">pdf</td></tr>
                         <tr><td><input type="radio" name="consulta" id="excel" value="2">excel</td></tr>
                         <tr><td><input type="radio" name="consulta" id="grafico" value="3">grafico</td></tr>                           
                     </table>
                 </div>
                 
                 <div class="span9">
                     
                     <table id="combos" border="0">
                         <tr>
                             <td><label>Establecimiento:</label></td>
                             <td>
                                 <div class="btn-group">
                                     <select id="cmb1" name="comboEstablecimiento"  class="selectpicker" style="width: 200px" onchange="buscarDependencia('{{path('sifda_solicitudservicio_find_dependencia')}}')">
                                       <option value="0">seleccione Establecimiento</option>
                                       
                                        {% for e in establecimiento%}
                                            <option value="{{e.id}}">{{e.nombre}}</option>
                                        {% endfor %}    
                                     </select>
                                 </div>
                             </td>
                             <td style="width: 80px; height:30px "><label>FechaInicio:</label></td>                             
                             <td style="width: 110px; height:30px "><input type="text" id="txt_fechaInicio" class="input-small" readonly="true"></td>  
                             <td style="width: 50px; height:30px "><label>FechaFin:</label></td>
                             <td style="width: 110px; height:30px "><input type="text" id="txt_fechaFin" class="input-small" readonly="true"></td>
                         </tr>
                         <tr>
                             <td ><label>Dependencia:</label></td>
                             <td colspan="3">
                                 <div class="btn-group">
                                     <select id="cmb2" name="comboDependencia" class="selectpicker" style="width: 200px">
                                         <option value="0">seleccione Dependencia</option>
                                     </select>
                                 </div>
                             </td>
                             
                             <td style="width: 50px; height:30px"><input type="submit" class="btn btn-primary" id="buscar" value="Buscar" name="Buscar" onclick="buscarSolicitudesFinal('{{path('sifda_solicitudservicio_buscar_finalizadas2')}}')"></td>
                             <td><input type="submit" class="btn btn-primary" id="buscar" value="Exportar" name="Exportar" onclick="exportfile()"></td>
                            
                         </tr>
                     </table>
                 </div>           
             </div>
         </div>
     </div>
                             
     {% if entities%}                        
          <table id="FinTabla" class="table table-bordered table-hover table-condensed">
                 <thead>
                     <tr>
                         <th><center>N°</center></th>
                        <th><center>Establecimiento</center></th>
                         <th><center>Dependencia Solicitante</center></th>
                         <th><center>Tipo de Servicio</center></th>
                         <th><center>Fecha de Recepci&oacute;n</center></th>
                         <th><center>Fecha que se requiere</center></th>

                     </tr>
                 </thead>
                 <tbody>
                     {%set count=1%}   
                 {% for finalizado in entities %}
                        <tr>
                             <td>{{ count }}</td>                                           
                             <td><justify>{{ finalizado.user?finalizado.user.idDependenciaEstablecimiento.idEstablecimiento:"Sistema" }}</justify></td>
                             <td>{{ finalizado.user?finalizado.user.idDependenciaEstablecimiento.idDependencia:"Generado PAO"  }}</td>
                             <td>{% if finalizado.fechaRecepcion %}{{ finalizado.fechaRecepcion|date('d-m-Y') }}{% endif %}</td>
                             <td>{% if finalizado.fechaRequiere %}{{ finalizado.fechaRequiere|date('d-m-Y') }}{% endif %}</td>

                         </tr>
                         {%set count=count+1%}
                  {% endfor %}
                 </tbody>
             </table> 
   
     {% else %}
        <div id="Finalizados">
            <center><h4>No se encontraron solicitudes Finaizadas</h4></center>
        </div>    
   {% endif%}    
   
    <div id="rangoFinTabla"></div>
             
                <div id="msgFinalizado">
                    <center><h4>No se encontraron solicitudes en ese Rango</h4></center>
                </div>  
   
   
    
                            
 {% endblock%}       
