{% extends 'MinsalsifdaBundle::layoutResponsable.html.twig' %}
{% block contenido_in -%}
    {{form_start(edit_form)}}
    {{form_errors(edit_form)}}    
    <div class="page-header">
        <center><h3>Actualizaci&oacute;n del tipo de servicio</h3></center>
    </div>
    <div class="row-fluid">
        <div class="span10 offset1 well">
            <div class="row-fluid">
                <div class="span7 offset3">
                    <br>
                    {{form_row(edit_form.idActividad, {'attr': {'class':'span7'} })}}
                </div>
            </div>
            <br><br><br>
            <div class="row-fluid">
                <div class="span4 offset1">
                    {{form_row(edit_form.nombre, {'attr': {'class':'input-xlarge', 'placeholder': 'Nombre del tipo de servicio'} })}}
                    {#{{ form_errors(form.nombre) }}#}
                </div>
                <div class="span5 offset1">
                    {{form_row(edit_form.descripcion, {'attr': {'class':'field span10', 'placeholder': 'Descripcion del tipo de servicio', 'rows':'4'}})}}
                </div>
            </div>
        </div>                      
        <br><br>          
    </div>
    <div class="row-fluid">    
        <div class="span12">
            <br>
            <center>
                <table id="botones">
                    <tr> 
                       <td>{{form_row(edit_form.submit,{'attr':{'class':'btn btn-primary'}})}}</td>
                        <td><a href="{{ path('sifdatiposervicio')}}" class="btn">Regresar</a></td>
                    </tr>    
                </table>
            </center>
            <br>
        </div>
    </div>                
{{form_end(edit_form)}}
{% endblock %}
