{% extends 'MinsalsifdaBundle::layoutResponsable.html.twig' %}

{% block contenido_in -%}
    <div class="page-header">
        <center><h3>Mostrar tipo de servicio</h3></center>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid">
                <div class="span10 offset1">
                    <table id="tabla" class="table table-bordered table-hover table-condensed">
                        <tbody>
                            <!--<tr>
                                <th>Correlativo</th>
                                <td>{#{ entity.id }#}</td>
                            </tr>-->
                            <tr>
                                <th>Nombre</th>
                                <td>{{ entity.nombre }}</td>
                            </tr>
                            <tr>
                                <th>Descripci&oacute;n</th>
                                <td>{{ entity.descripcion }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <div class="row-fluid">    
                <div class="span12">
                <br>
                <center>
                    <table id="botones">
                    <tr> 
                       <td>
                           <a href="{{ path('sifdatiposervicio_edit', { 'id': entity.id }) }}" class = "btn btn-primary">Editar tipo de servicio</a>
                       </td>
                       <td>
                           <a href="{{ path('sifda_rutaciclovida_new', { 'id': entity.id }) }}" class = "btn btn-inverse">Registrar etapas</a>
                       </td>
                        <td>
                            <a href="{{ path('sifdatiposervicio')}}" class="btn">Regresar</a>
                        </td>
                    </tr>    
                    </table>
                </center>
                <br>
                </div>
            </div>
            <br><br>
            <div class="row-fluid">    
                <div class="span10 offset1">
                    {% if entities %}
                        <center><h5>Etapas del tipo de servicio</h5></center>
                        <table id="tabla" class="table table-bordered table-hover table-condensed" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th><center>Etapa No.</center></th>
                                    <th><center>Descripci&oacute;n</center></th>
                                    <th><center>Porcentaje (%)</center></th>
                                    <th><center>Acciones</center></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for etapa in entities %}
                                <tr>
                                    <td><center>{{ etapa.jerarquia }}</center></td>
                                    <td>{{ etapa.descripcion }}</td>
                                    <td><center>{{ etapa.peso }}</center></td>
                                    <td>
                                    <ul>
                                        <li>
                                            <a href="{{ path('sifda_rutaciclovida_new_subetapa', { 'id': etapa.id }) }}">Registrar subetapas</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('sifda_rutaciclovida_show', { 'id': etapa.id }) }}">Mostrar detalle</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('sifda_rutaciclovida_edit', { 'id': etapa.id }) }}">Editar</a>
                                        </li>
                                    </ul>
                                    </td>
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>    
                    {%endif%}    
                </div>
            </div>            
        </div>
    </div>                            
{% endblock %}
