{#{% extends '::base.html.twig' %}#}
{% extends 'MinsalsifdaBundle::layoutResponsable.html.twig' %}
{#{% extends 'MinsalsifdaBundle::layout.html.twig' %}#}
{% block contenido_in %}
   <div class="page-header">
            <center><h3>Listado de los establecimientos</h3></center>
        </div>

    <table id="tabla" class="table table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th><center>Correlativo</center></th>
                <th><center>Nombre</center></th>
                <th><center>Acciones</center></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('sifda_ctlestablecimiento_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('sifda_ctlestablecimiento_show', { 'id': entity.id }) }}">Mostrar</a>
                    </li>
                    <li>
                        <a href="{{ path('sifda_ctlestablecimiento_edit', { 'id': entity.id }) }}">Modificar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        {#<ul>
        <li>
            <a href="{{ path('sifda_ctlestablecimiento_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>#}
    {% endblock %}
