{% extends 'MinsalsifdaBundle::layoutResponsable.html.twig' %}
{% block contenido_in -%}

    <center><h3>Listado de detalle catalogos</h3></center>

    <table id="tabla" class="table table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th><center>Id</center></th>
                <th><center>Descripci&oacute;n</center></th>
                <th><center>Referencia</center></th>
                {#<th><center>Estatus</center></th>#}
                <th><center>Acciones</center></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><center>{{ entity.id }}</a></center></td>
                <td><center>{{ entity.descripcion }}</center></td>
                <td><center>{{ entity.ref1 }}</center></td>
                {#<td><center>{{ entity.estatus }}</center></td>#}
                <td>
                <ul>
                    <li>
                        <center><a href="{{ path('sifda_catalogodetalle_show', { 'id': entity.id }) }}">Mostrar</a></center>
                    </li>
                    <li>
                        <center><a href="{{ path('sifda_catalogodetalle_edit', { 'id': entity.id }) }}">Editar</a></center>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{#<center>
            <table id="botones">
            <tr>
                <td><a href="{{ path('sifda_catalogodetalle_new') }}" class="btn">
                Registrar nuevo catalogo
            </a></td>
            </tr>    
            </table>
        </center>
        <ul>
        <li>
            <a href="{{ path('sifda_catalogodetalle_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>#}
    {% endblock %}
