{% extends 'MinsalsifdaBundle::layoutResponsable.html.twig' %}
{% block contenido_in -%}

    <center><h3>Listado de Detalle Catalogo</h3></center>

    <table id="tabla" class="table table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th><center>Id</center></th>
                <th><center>Descripcion</center></th>
                <th><center>Ref1</center></th>
                <th><center>Estatus</center></th>
                <th><center>Actions</center></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><center><a href="{{ path('sifda_catalogodetalle_show', { 'id': entity.id }) }}">{{ entity.id }}</a></center></td>
                <td><center>{{ entity.descripcion }}</center></td>
                <td><center>{{ entity.ref1 }}</center></td>
                <td><center>{{ entity.estatus }}</center></td>
                <td>
                <ul>
                    <li>
                        <center><a href="{{ path('sifda_catalogodetalle_show', { 'id': entity.id }) }}">mostrar</a></center>
                    </li>
                    <li>
                        <center><a href="{{ path('sifda_catalogodetalle_edit', { 'id': entity.id }) }}">editar</a></center>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('sifda_catalogodetalle_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
