{% extends 'MinsalsifdaBundle::layoutResponsable.html.twig' %}
{% block contenido_in -%}
    <h2><center>Detalle del Catalogo</center></h2>

    <table class="table table-bordered table-hover table-condensed">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Ref1</th>
                <td>{{ entity.ref1 }}</td>
            </tr>
            <tr>
                <th>Estatus</th>
                <td>{{ entity.estatus }}</td>
            </tr>
        </tbody>
    </table>

    
            
            <table id="botones" style="margin-left:38%">
                <tr>
                    <td><a href="{{ path('sifda_catalogodetalle') }}" class="btn">Regresar</a></td>
                    <td><a href="{{ path('sifda_catalogodetalle_edit', { 'id': entity.id }) }}" class="btn">Edit</a></td>
                    <td>{{form_row(delete_form.submit,{'attr':{'class':'btn'}})}}</td> 
                </tr>
            </table>     
 
{% endblock %}
