{% extends 'MinsalsifdaBundle::layoutResponsable.html.twig' %}
{% block contenido_in -%}
    {{form_start(form)}}
    {#{{form_errors(form)}} #}
    <table style="margin-left: 70%;" border="0">
        <tr>
            <td>Usuario:</td><td style="width: 120px;height:14px;">{{usuario.IdEmpleado}}</td><td>Fecha:</td><td>{{ "now"|date("d/m/Y") }}</td><td><input type="hidden" id="txtuser"  value="{{usuario.username}}" style="width:10px; height:10px"></td><td><input type="hidden" id="txtiduser"  value="{{usuario.id}}" style="width:10px; height:10px"></td>    
        </tr>
        <tr></tr>
    </table>
    <div class="page-header">
        <center><h3>Registro de d&iacute;as festivos</h3></center>
    </div>
    
    <div id="seleccion">
         <div class="row-fluid">
             <div class="span10 offset1">
                 <div class="row-fluid">   
                     <div class="span3">
                        {{form_row(form.tipoFecha, {'attr': {'class':'radio'} })}}                      
                     </div>

                     <div class="span3 offset1">
                         <div id="fechaInicio_ctlferiado">
                             <center>{{form_row(form.fechaInicio, {'attr':{'readonly':'yes','class':'span8'} } ) }}</center>
                         </div>
                         <div id="fechaFin_ctlferiado">
                             <center>{{form_row(form.fechaFin, {'attr':{'readonly':'yes','class':'span8'} } ) }}</center>
                         </div>
                     </div> 

                     <div class="span1">
                         <br>
                         <table class="record_properties">
                              <tr>
                                  <td>
                                      <center><img height="30px" width="30px" src="{{ asset('bundles/minsalsifda/images/Flecha5.png') }}" onclick="asignarFeriado()"/></center>
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                     <center><img height="40px" width="40px" src="{{ asset('bundles/minsalsifda/images/delete2.png') }}" onclick=" eliminarFecha()"/></center>
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                     <center><img height="40px" width="40px" src="{{ asset('bundles/minsalsifda/images/deleteTodos.png') }}" onclick=" limpiarListbox()"/></center>
                                  </td>
                              </tr>
                          </table>
                         </div>
                        <div class="span4">   
                            {{form_row(form.fechaFestiva)}}
                        </div> 
                    </div>
                </div>                  
             </div>
            <br>
            <div class="row-fluid">    
                <div class="span12">
                    <br>
                    <center>
                        <table id="botones">
                            <tr> 
                               <td>{{form_row(form.submit,{'attr':{'class':'btn btn-primary', 'onclick':'recuperarFechasElegidas()'} })}}</td>                                   
{#                               <input type="submit" class="btn" value="Aceptar" onclick="recuperarFechasElegidas()"/>#}
                            </tr>    
                        </table>
                    </center>
                    <br>
                </div>
            </div>                
        </div>       
    {{form_end(form)}}
{% endblock %}
{% block javascripts_step %}
    {{parent()}}
        <script src="{{ asset('bundles/minsalsifda/js/scriptsSifda/diasFeriados.js')}}"></script>
{% endblock %} 