{% extends 'MinsalsifdaBundle::layoutResponsable.html.twig' %}

{% block contenido_in -%}
    <div class="page-header">
        <center><h4>Consolidado de solicitudes de servicio por tipo de servicio</h4></center>
    </div>     
    <table style="margin-left: 70%;" border="0">
        <tr>
            <td>Usuario:</td><td style="width: 120px;height:14px;">{{usuario.IdEmpleado}}</td><td>Fecha:</td><td>{{ "now"|date("d/m/Y") }}</td><td><input type="hidden" id="txtuser"  value="{{usuario.username}}" style="width:10px; height:10px"></td><td><input type="hidden" id="txtiduser"  value="{{usuario.id}}" style="width:10px; height:10px"></td>    
        </tr>
        <tr></tr>
    </table>
    <div class="row-fluid">
        <div class="span11 offset1">
            <div class="row-fluid">
                <div class="span2">
                    <table>
                        <tr>
                            <td style="width: 30px;"></td><td><input type="radio" name="consulta" id="pdf" value="1">pdf</td>
                        </tr>
                        <tr>
                            <td style="width: 30px;"></td><td><input type="radio" name="consulta" id="excel" value="2">excel</td>
                        </tr>
                        <tr>
                            <td style="width: 30px;"></td><td><input type="radio" name="consulta" id="grafico" value="3">grafico</td>
                        </tr>    
                    </table>    
                </div> 
                <div class="span4" >
                    <table>
                        <tr>
                            <td><label>Establecimiento:</label></td>
                            <td>
                                <div class="btn-group">
                                    <select id="cmb1" name="comboEstablecimiento"  class="selectpicker" style="width: 200px" onchange="buscarDependencia('{{path('sifda_solicitudservicio_find_dependencia')}}')">
                                        <option value="0">Seleccione...</option>                                       
                                        {% for e in establecimiento %}
                                            <option value="{{e.id}}">{{e.nombre}}</option>
                                        {% endfor %}    
                                    </select>
                                </div>
                            </td>    
                        </tr>
                        <tr>
                            <td><label>Dependencia:</label></td>    
                            <td>
                            <div class="btn-group">
                                <select id="cmb2" name="comboDependencia" class="selectpicker" style="width: 200px">
                                    <option value="0">Seleccione...</option>
                                </select>
                            </div>
                            </td>    
                        </tr>
                    </table> 
                    <br>                
                </div>
                <div class="span3" > 
                    <table>
                        <tr>
                            <td><label>Fecha de inicio:</label></td>
                            <td><input type="text" id="txt_fechaInicio" class="input-small" ></td>
                        </tr>
                        <tr>
                            <td><label>Fecha de fin:</label></td>
                            <td><input type="text" id="txt_fechaFin" class="input-small" ></td>
                        </tr>
                    </table> 
                    <br>
                </div> 
                <div class="span2 ">
                    <br><br>
                    <input type="submit" class="btn btn-primary" id="buscar" value="Buscar" name="Buscar">
                    <br><br>
                </div>    
            </div>        
        </div>
    </div>                                
    <div id="divtabla"></div>       
    <div id="tablahead">
        <br/>           
        <table class="table table-bordered table-hover table-condensed">
            <thead id="head"></thead>
            <tbody id="tabla"></tbody>
        </table>        
    </div>
    <div id="msjnodata">
            <center><h4>No se encontraron solicitudes de servicio</h4></center>
    </div>
    <br>
{% endblock %}

{% block javascripts_step %}
    {{ parent() }}
    <script src="{{ asset('bundles/minsalsifda/js/scriptsSifda/consolidadoTipoServicio.js')}}"></script>
    
{% endblock%}   